<app-navbar-shop></app-navbar-shop>

<div class="infos">
    <div class="left">
        <div class="card">
            <div class="list">
                <app-card-shop></app-card-shop>
                <app-card-shop></app-card-shop>
            </div>
            <span class="text">Digite o CEP</span>
            <div class="cep">
                <input type="number" placeholder="Ex 00000-00">
                <button class="cepbutton"><img src="assets/images/pngwing.webp" alt=""></button>
            </div>
            
        </div>
    </div>
    
    <div class="rigth">
        <div class="card-info" >
            <span class="title">Valor Total (8 Produtos) :</span>
            <span class="price">R$ 120,00</span>
            <div class="dashed"></div>
            <span class="title">Cupom de Desconto :</span>
            <span style="margin-left: 50px;">Inserir</span>
            <div class="dashed"></div>

            <div class="frete">
                <span class="title">Frete :</span>

                <div class="value">
                    <span>R$ 12,00</span>
                    <span style="font-size: 0.7rem;">Chega ate dia 28/02</span>
                </div>
            </div>

            <div class="dashed"></div>
            
            <div class="buttons">
                <button class="comprar">Finalizar Compra</button>
            <button class="carrinho">Continuar Comprando</button>
            </div>
        </div>
    </div>
    
</div>
