<app-navbar></app-navbar>
<div class="card">
    <h3>Sobre Nos</h3>
        <div class="lojas">
            <div class="direita">

                <div class="Texto">
                    <p class="TituloDescricao">Loja E-commerce de Peças Automotivas</p>

                    <p>A AutoPeças Online é uma loja virtual especializada em oferecer uma vasta gama de peças automotivas de alta qualidade para carros, motos e caminhões. Nosso compromisso é proporcionar uma experiência de compra simples e eficiente, com peças originais e compatíveis com os mais diversos modelos de veículos, com entrega rápida e segura.</p>

                    <p>Nosso catálogo abrange desde componentes essenciais, como filtros, pastilhas de freio, baterias e amortecedores, até acessórios exclusivos que garantem o máximo de desempenho e estética para o seu veículo. Através da nossa plataforma intuitiva, os clientes podem buscar peças por categoria, modelo de veículo ou número de peça, com a possibilidade de filtrar por marcas renomadas e preços acessíveis.</p>
                </div>
                
                <div class="Imagem">
                    <img src="assets/images/Sobre1.jpg" alt="">
                </div>
                
            </div>
            
            <div class="esquerda">
                
                <div class="Imagem">
                    <img src="assets/images/Sobre2.jpg" alt="">
                </div>
                
                <div class="Texto">
                    <p class="TituloDescricao">Nossa História</p>

                    <p>A AutoPeças Online foi fundada com a missão de transformar a experiência de compra de peças automotivas, oferecendo um serviço online prático, rápido e acessível.</p>

                    <p>Nossa jornada começou com um pequeno time apaixonado pelo mundo automotivo, e ao longo dos anos, fomos crescendo e conquistando a confiança de milhares de clientes satisfeitos. Cada passo da nossa evolução foi movido pela busca incessante por inovação e pela vontade de oferecer sempre o melhor para nossos clientes.</p>
                </div>
                
                
            </div>

            <div class="direita">
                
                <div class="Texto">
                    <p class="TituloDescricao">Pagamentos Seguros com Mercado Pago</p>

                    <p>Na AutoPeças Online, sabemos que a segurança das suas informações é uma prioridade. Por isso, trabalhamos com o sistema de pagamentos do Mercado Pago, uma das plataformas mais confiáveis e seguras do mercado.</p>

                    <p>Com o Mercado Pago, você pode comprar com total confiança e comodidade, sabendo que sua transação está sendo realizada com um sistema de pagamento reconhecido por milhões de brasileiros.</p>
                </div>
                
                <div class="Imagem">
                    <img src="assets/images/Sobre3.jpg" alt="">
                </div>
            </div>
        </div>
</div>