<app-navbar></app-navbar>
<div class="buttons">
    <button class="Filter"><img src="../../../assets/images/funnel.svg" style="margin-right: 5px; margin-bottom: 3px;">Filtros</button>
</div>
<div class="anuncios">
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
    <app-card-anuncio></app-card-anuncio>
</div>

<div class="carregar" [class.active]="isActive" (click)="activateLoading()">
    Carregar Mais
</div>