@import '../../../styles.scss';

:host{
    display: flex;
    flex-direction: column;
    background-color: $Cor-Principal;
    width: 100%;
    overflow: hidden;

    .imagem {
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        max-width: 1600px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .promocoes{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 15px;
        column-count: 2;
        column-gap: 30px;
        overflow: hidden;
        app-carrousel-cards{
            width: 100%;
        }
    }
}