<app-navbar></app-navbar>

<div class="up-card">
    <div class="images">
        <img src="../../../assets/images/foto1.jpeg" alt="">
        <div class="right">
            <img src="../../../assets/images/foto1.jpeg" alt="">
            <img src="../../../assets/images/foto1.jpeg" alt="" class="filter">
        </div>
    </div>
    <div class="info">
        <div class="c-info">
            <h5>Bateria Automotiva Moura </h5>

            <p><span class="preco">R$ 400,00</span> a Vista</p>
            <p class="parcelado" style="margin-top: 3px;">Em 2x de <span style="font-weight: bold;">R$ 200.00</span></p>

            <span style="margin-top: 30px; font-weight: bold;">Quantidade</span>
            <input type="number" placeholder="Ex 1">

            <span style="margin-top: 30px; font-weight: bold;">CEP</span>
            <input type="number" placeholder="Ex 00000-00"  s>

            <button class="comprar">Comprar Já</button>
            <button class="carrinho">Adicionar ao Carrinho</button>
        </div>
    </div>
    
</div>